*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/cache/
/node_modules/
/artifacts/
/graph/cmake-build-debug/
/graph/.idea/
yarn.lock
.yarn/
yarn-error.log

/typechain-types/